<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!--ICONOS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <!--FUENTES-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <!--SCRIPT-->
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
  <!--ESTILOS-->
  <style>
    #fondo {
      background-image: url('../static/img/background.png');
      width: 100%;
      height: calc(100vh - 0px);
      position: relative;
      background-size: cover;
      background-position: center;
      z-index: 1;
    }
    
    .texto_fondo {
      z-index: 3;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .texto {
      margin-top: 400px;
    }
    

  </style>

  <title>Music Pro Tienda</title>
</head>

<body style="font-family: 'Akshar'">
  <!--HEADER COMIENZA-->
  <!--HEADER TERMINA-->
  <!--NAVBAR COMIENZA-->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light fs-3" style="font-family: 'Road Rage', cursive;" href="#">MusicPRO</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-light mx-4" aria-current="page" href="{% url 'index' %}">Inicio</a>
          <a class="nav-link text-light mx-2" href="{% url 'productos' %}">Productos</a>
        </div>
      </div>
    </div>
    <div>
      <a class="nav-link text-light me-5" href="{% url 'carro' %}"><i class="bi bi-cart-fill"></i></a>  
    </div>
  </nav>
  <!--NAVBAR TERMINA-->
  <!--MAIN COMIENZA-->
  <main>
    <section id="fondo">
      <div class="texto_fondo">
        <h1 class="texto" style="font-family: 'Rubik Mono One', sans-serif;; font-size: 65px; color: white; text-shadow: rgb(17, 17, 16) 1px 0 10px;">Bienvenidos a Music Pro</h1>
      </div>
    </section>
  </main>
  <!--MAIN TERMINA-->
  <!--FOOTER COMIENZA-->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://store.steampowered.com/?l=spanish">MusicPro.cl</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--FOOTER TERMINA-->
</body>

</html>